@import url('https://fonts.googleapis.com/css2?family=Butcherman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body{
    background-image: url(C:/Users/manik/OneDrive/Pictures/wallpaper-1.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    overflow-x:hidden;
   
}

#title{          /*title*/
    font-size: 57px;
    font-family: "Butcherman", system-ui;
   font-weight:550;
   font-style: normal;
    color:#a40e4c;
    word-spacing: 3px;
    position: absolute;
    margin-left: 1000px;
    margin-top: 11px;
    
}

.port{     /*title*/
height: 100px;
width:2000px; 
border:5px double black;
position: sticky;
background-image: url(C:/Users/manik/OneDrive/Pictures/wallpaper-2.jpg);
 background-repeat:no-repeat;
background-size:cover;
}

#me{       /*links*/
   position: relative;
    padding-left: 80px; 
    margin: 20px;
    text-decoration: none;
     font-family: "Butcherman", system-ui;
}

#me:hover{
    color: #d81159;
    text-decoration:underline;
    
}

#folio{     /*links*/
    margin-left:95px;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: larger;
    text-decoration: none;
    color: black;
}
/*connect text*/
h2{
margin-left:600px;
color:#004e89;
text-decoration:underline;
font-family: Arial Black;}

p{
font-size:25px;
color:black;
font-family: "Dancing Script", cursive;
font-optical-sizing: auto;
word-spacing: 2px;
letter-spacing: 2px;
font-weight:bolder;
margin-left:200px;}

/*send u request*/
h3{
font-size:20px;
text-transform:capitalize;
color:#004e89;
text-decoration:underline;
font-family: Arial Black;
text-align: center;
}
h5{
margin-left: 20px;
margin-top:10px;
}

/*forms*/
.form{
 
    margin-left:280px;
     margin-right:350px;
     margin-top: 30px;
    background-color:#e9edc9;
    
}
.form-label{
    margin-left: 200px;
    font-size: 18px;
}
.form-control{
    width:300px;
     margin-left: 200px;
}
.form-check-input{
    margin-left: 300px;
   position: relative;
   left:200px;
}
.form-number{
    font-size:  18px;
    font-weight: 500;
    margin-left: 50px;
}
.form-numbers{
    width:300px;
}
.form-controls{
    font-size:  18px;
    font-weight: 500;
    margin-left: 50px;
    margin-top: 40px;
}
.form-check-input{
    margin-top:30px;
    margin-left: 30px;
 }
 .form-check-label{
    margin-top: 45px;
      margin-left: 200px;
 }
 .invalid-feedback{
     margin-left: 200px;
 }

/*button*/
.btn{    
 padding:15px 40px;
 border:none;
 outline:none;
 color:#FFF;
 cursor:pointer;
 position:relative;
 z-index: 0;
 border-radius: 12px;
 margin-left: 180px;
 margin-top: 80px;
 margin-bottom: 40px;
}

.btn::after{
    content: "";
    z-index: -1;
    position: absolute;
    width:100%;
    height:100%;
    background-color: #333;
    left:0;
    top:0;
    border-radius: 10px;
}

.btn::before{
    content: "";
    background: linear-gradient(
        45deg,
        #FF0000,#FF7300,#FFFB00,#48FF00,
        #00FFD5,#002BFF,#FF00C8,#FF0000
    );
    position: absolute;
    left:-2px;
    top:-2px;
    background-size: 600%;
    z-index: -1;
    height:calc(100% + 4px);
    width:calc(100% + 4px);
    filter:blur(8px);
    animation:glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0%{background-position: 0 0;}
    50%{background-position:400% 0;}
    100%{background-position: 0 0;}
}

.btn:hover::before{
    opacity: 1;
}
.btn:active::after{
    background:transparent;
}
.btn:active{
    color:#000;
    font-weight: bold;
}
/*button*/

/*footer*/
footer{
    background: #343434;
    padding-top: 50px;
    margin-top: 20px;
}
.container{
    
    width:1140px;
    height:280px;
    margin:auto;
    display:flex;
    justify-content:center;
}
.footer-content{
    width:33.3%;
}
h4{
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
  width:190px;
  margin:auto;
  padding:7px;

}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding:7px;
    position:relative;
}
.list li::before{
    content:'';
    position: absolute;
    transform: relative(-50%,-50%);
    left:43%;
    top:100%;
    width:0;
    height:2px;
    background: #f18930;
    transition-duration:.5s;
}
.list li:hover::before{
    width:60px;
    
}
.social-icons{
    text-align:center;
    padding: 0;
}
.social-icons li{
    display: block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color:orange;
    
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color:#f18930;
   
}
.social-icons i:hover{
    color: #f18930;
}
.bottle-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color:#343434;
    margin:0;
    font-size:16px;
    padding: 7px;
}
s