body{
    background-image: url(C:/Users/manik/OneDrive/Pictures/witch.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align:center;
    font-family: sans-serif;
}
.title{
    font-size: 64px;
    font-weight:bold;
    margin-top:100px ;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ef476f;
}
.description{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom:40px ;
}
.navbar{
    padding:20px;
    display:flex;
    justify-content: center;
    align-items:center;
   
}
.logo img{
    width: 70px;
    position: absolute;
    left:5%;
    filter: invert(1);
}
.navbar a{
color:#fff;
font-size:18px ;
text-decoration: none;
margin: o 25px;
transition:-5s;
 margin-left: 100px;
}
.navbar:hover{
    color:aqua;
    transform:scale(.9);
}
.social-icons{
    margin-top: 20px;
    bottom:20px;
    left:50%;
    position:fixed;
    transform:translate(-50%);
}
.social-icons a{
    color:#fff;
    margin:0 10px;
    font-size:24px;
    text-decoration: none;
}
.social-icons a:hover{
    color:aqua;
}
.button{
    display: inline-block;
    padding:15px 40px;
    margin:15px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align:center;
    text-decoration: none;
    transition-duration: 0.4s;
}
.button-play{
    background: linear-gradient(90deg,#bfb475 0%,#2c5274 100%);
    color:#fff;
}
.button-download{
    background-color: #4f4f4f;
    color:#fff;
}
.button:hover{
    opacity:0.6;
}